/************ GENERAL **************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #dedede;
  color: rgb(26, 26, 26);
  text-align: center;
}

main {
  margin: auto;
}

main {
  width: 90%;
  margin: auto;
}

.main-recipes {
  width: 50%;
}

/************ LINKS **************/

a {
  color: rgb(26, 26, 26);
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover:before,
a:active {
  color: mediumseagreen;
}

a:hover span {
  display: none;
}

.card-link {
  font-size: 1rem;
}

.neuro-link,
.card-link {
  color: palevioletred;
  display: inline-block;
  margin: 20px 0 0 20px;
  padding: 1em;
  background: #dedede;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
}
.neuro-link:hover,
.card-link:hover {
  background: linear-gradient(145deg, #c8c8c8, #eeeeee);
  box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
}

.neuro-link:active {
  background: linear-gradient(145deg, #c8c8c8, #eeeeee);
  box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
}

.card-link:hover:before,
.neuro-link:hover:before,
.card-link:active:before,
.neuro-link:active:before {
  content: "Let's get it 🍗";
}

/************ Hn **************/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

.banner-text h1 {
  display: inline-block;
  border-left: palevioletred 5px solid;
  font-size: 10vh;
  text-transform: uppercase;
}

.banner-text h2 {
  font-size: 1.4em;
  font-weight: lighter;
}

.banner-text h1,
h2,
h3 {
  padding-left: 20px;
}

.recipes-block h2,
.about-block h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 10vh 0 0 0;
}

.recipes-block h3,
.about-block h3,
.recipe-article h3 {
  font-size: 1.4rem;
  font-weight: lighter;
}

.recipe-article h3 {
  margin-bottom: 5vh;
}

.about-block h4 {
  text-transform: uppercase;
}

h6,
ul,
ol {
  text-align: justify;
}

/************ LISTS  **************/

ul {
  list-style: url(https://sensa-co.s3-eu-west-1.amazonaws.com/emojis/Peach.svg);
}

/************ NAVBAR **************/

.navbar {
  padding: 10px 0 10px 50px;
  font-family: "Karla", sans-serif;
  background-color: #c4c4c4;
  font-weight: lighter;
}

#navbar-logo {
  height: 50px;
  width: 50px;
  transform: rotate(60deg);
}

.red-banner {
  background-color: darkred;
}

/************ HEADER **************/

.header-banner {
  display: flex;
  background-position: center;
  background-size: cover;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.banner-text {
  padding: 0 0 0 20vh;
  text-align: left;
}

.banner-img {
  padding: 5vh 0;
  animation: bounce 0.5s ease infinite alternate;
}

/************ RECIPES BLOCK **************/

.recipes-block {
  text-align: center;
  padding-bottom: 5vh;
}

.recipes-deck {
  padding: 5vh;
}

/************ CARD DESIGN **************/

.card-neuro {
  margin: 0 20px;
  padding: 20px;
  background: #dedede;
  border: none;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
  transition: 0.5;
}

.card-neuro:hover {
  background: linear-gradient(145deg, #c8c8c8, #eeeeee);
  box-shadow: 20px 20px 60px #bdbdbd, -20px -20px 60px #ffffff;
}
.card-title {
  font-family: "DM sans", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
}

.card-img-top {
  position: relative;
  border-radius: 20px;
}
/************* RECIPE ARTICLE **********/

.recipe-article-img {
  margin: 10vh 0 1vh;
  width: 500px;
  border-radius: 10px;
}

.recipe-article h2 {
  padding: 10vh auto 0;
  font-size: 3rem;
}

/************* ABOUT **********/

.bg-img-about {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 50px auto 20px auto;
  background-color: pink;
  border-radius: 50%;
}

.about-block img {
  position: absolute;
  width: 300px;
  top: 0px;
  left: -20px;
}

/************* FOOTER **********/

footer,
footer a,
.fab {
  color: white;
}

footer a:hover {
  color: palevioletred;
}

.fab {
  font-size: 2rem;
}

.fab:hover {
  color: palevioletred;
  animation: bounce 0.35s ease infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

footer {
  padding: 20px 0 20px 0;
  margin: 5vh 0 0 0;
}
